<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhav.ly</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body> 
    <div class="container">
        <h1>Bhav.ly</h1>
        <form action="/shorturls" method="POST">
            <label for="full_url">URL</label>
            <input type="text" name="full_url" id="full_url">
            <button type="submit" id="submit">Shrink</button>
    
            <table>
                <thead>
                    <tbody>
                        <tr>
                            <th>Full URL</th>
                            <th>Short URL</th>
                            <th>Clicks</th>
                        </tr>
                    </tbody>
                </thead>
                <thead>
                    <tbody>
                        <% shorten_url.forEach(url => { %>
                            <tr>
                                <td>
                                    <a href="<%url.original%>"> <%url.original%> </a>
                                </td>
                                <td>
                                    <a href="<%url.short%>"> <%url.short%> </a>
                                </td>
                                <td>
                                   <%url.clicks%>
                                </td>
                             </tr>
                        <%  }); %> 
                    </tbody>
                </thead>
            </table>

        </form>
    </div>
</body>
</html>